html{
  scroll-behavior: smooth;
}

body{
  background-color: #737373;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}


.overview{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;                /* Parallax effect */
}


.overview p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display:inline;
  padding-right:20px;

}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}


nav{
  background-color: #ddd;
  padding: 25px 0; 
  text-align: left;
}

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}


.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
}


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}



/*Your Code Here*/
/* PLEASE DO NOT REMOVE MY COMMENTS.  THEY HELP US HELP YOU DEBUG. */

/* Step 1: Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/
nav a:focus, nav a:hover {
  text-decoration: underline;
}

/* Step 2a: Write selector/rule property to position the default position for the skip class element*/
.skip a {
  position: absolute;
  top: -40px;
}

/* Step 2b: Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus {
  position: absolute;
  top: 20px;
}

/* Step 3: Write selector/rule property to style all elements when in focus*/
*:focus {
  border: 2px solid;
}

/* mobile view */
  .container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    row-gap: 15px;
  }

  .container div:first-child {
    grid-column: 1 / -1;
    background-image: url('../images/header.jpg');
    
    /* parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about {
    grid-column: 2 / span 1;
    grid-row-start: 2;
  }

  .method {
    grid-template-columns: 2 / span 1;
    grid-row-start: 3;
  }

  .clients {
    grid-template-columns: 2 / span 1;
    grid-row-start: 4;
  }

  .contact {
    grid-template-columns: 2 / span 1;
    grid-row-start: 5;
  }

  .about-image {
    grid-column: 1 / -1;
    max-height: 600px;
    overflow: hidden;
    grid-row-start: 2;
  }

  .method-image {
    grid-column: 1 / -1;
    max-height: 600px;
    overflow: hidden;
    grid-row-start: 3;
  }

  .clients-image {
    grid-column: 1 / -1;
    max-height: 600px;
    overflow: hidden;
    grid-row-start: 4;
  }

  .contact-image {
    grid-column: 1 / -1;
    max-height: 600px;
    overflow: hidden;
    grid-row-start: 5;
  }

  .text-block {
    align-self: center;
    text-align: center;
  }

/* desktop view */
@media screen and (min-width: 800px) {
  nav {
    text-align: right;
    padding: 30px 0 30px 0;
  }

  .container {
    display: grid;
    grid-template-columns: 50px auto 500px auto 50px;
  }

  .about, .clients, .method-image, .contact-image {
    grid-column: 3 / span 2;
  }
  

  .method, .contact, .about-image, .clients-image {
    grid-column: 2 / span 2;
  }

  .text-block {
    max-height: 250px;
    overflow: auto;
  }
}